@charset 'utf-8';
@import 'bulma/bulma';
@import 'rbx/rbx';

*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

body{
    background-color:var(--body-background)!important;
    min-height:100vh;
    height:100%;
}

.section1{
    background-image:url('../images/background.png');
    background-size:cover;
    background-position:center;
}

input{
    color:var(--color-input)!important;
}

.subtitle{
    color:var(--subtitle-color)!important;
}

.card{
    background:transparent!important;
}

.card-image{
    width:300px;
}

.columns .border-l{
    border-left:1px solid!important;
}

@media (max-width:768px){
    .card-image{
        width:100%;
    }
    .columns .border-l{
        border-left:none!important;
    }
}

.rkt{
    margin-left:150px;
    color:var(--color-logo)!important;
}

.is-red{
    color:var(--color-logo)!important;
}

.card-social-red{
    background-color:var(--color-logo)!important;
    .card-image{
        width:120px!important;
    }
}

.card-social{
    background-color:var(--card-color)!important;
    .card-image{
        width:120px!important;
    }   
}

.section-footer{
    width:100vw;
    background-color:var(--card-color);
    border-radius:1px solid;
}

.border-b{
    border-bottom:1px solid;
}

.is-danger{
    background-color:var(--color-logo)!important;
    &:hover{
        background-color:#fa4b3f!important;
    }
}
